<div class="logo-block"><a href="index.html" title="Jovial" class="logo">Jovial</a></div>
<ul class="block nav">
    {% for mnu in menuLeftTop %}
        {% set active = '' %}
        {% if mnu.url|trim == currentUrl|trim %}
            {% set active = "active"%}
        {% endif %}
        <li class="{{ active }}"><a href="{{ mnu.url }}" title="{{ mnu.name }}">{{ mnu.name }}</a></li>
    {% endfor %}
</ul>

<ul class="block nav padd-1">
    {% for mnu in menuLeftBottom %}
        {% set active = '' %}
        {% if mnu.url|trim == currentUrl|trim %}
            {% set active = "active"%}
        {% endif %}
        <li class="{{ active }}"><a href="{{ mnu.url }}" title="{{ mnu.name }}">{{ mnu.name }}</a></li>
    {% endfor %}
</ul>