<div class="sidebar-r">
    <div class="block">
        <h2 class="title">Tin tức</h2>
        <ul class="lst-news">
            <li>
                <span class="frame-2">
                    <img src="{{asset('web/images/upload/news-1.jpg')}}" alt="" width="129" />
                    <span>&nbsp;</span>
                </span>
                <a href="news-detail.html" title="Ngọc Trinh khoe ảnh nuột nà với nội y">Ngọc Trinh khoe ảnh nuột nà với nội y</a>
            </li>
            <li>
                <span class="frame-2">
                    <img src="{{asset('web/images/upload/news-3.jpg')}}" alt="" width="129" />
                    <span>&nbsp;</span>
                </span>
                <a href="news-detail.html" title="Ngọc Trinh khoe ảnh nuột nà với nội y">Ngọc Trinh khoe ảnh nuột nà với nội y</a>
            </li>
            <li>
                <span class="frame-2">
                    <img src="{{asset('web/images/upload/news-4.jpg')}}" alt="" width="129" />
                    <span>&nbsp;</span>
                </span>
                <a href="news-detail.html" title="Ngọc Trinh khoe ảnh nuột nà với nội y">Ngọc Trinh khoe ảnh nuột nà với nội y</a>
            </li>
        </ul>
    </div>
    <div class="block hot-products">
        <h2 class="title">Sản phẩm hot</h2>
        <div class="lst-hot-products">
            <ul class="inner">
                <li>
                    <a class="frame-3" href="product-detail.html">
                        <img src="{{asset('web/images/upload/product-10.jpg')}}" alt="" width="159" />
                        <span>&nbsp;</span>
                    </a>                                    
                </li>
                <li>
                    <a class="frame-3" href="product-detail.html">
                        <img src="{{asset('web/images/upload/product-2.jpg')}}" alt="" width="159" />
                        <span>&nbsp;</span>
                    </a>                                    
                </li>
                <li>
                    <a class="frame-3" href="product-detail.html">
                        <img src="{{asset('web/images/upload/product-10.jpg')}}" alt="" width="159" />
                        <span>&nbsp;</span>
                    </a>                                    
                </li>
                <li>
                    <a class="frame-3" href="product-detail.html">
                        <img src="{{asset('web/images/upload/product-2.jpg')}}" alt="" width="159" />
                        <span>&nbsp;</span>
                    </a>                                    
                </li>
                <li>
                    <a class="frame-3" href="product-detail.html">
                        <img src="{{asset('web/images/upload/product-2.jpg')}}" alt="" width="159" />
                        <span>&nbsp;</span>
                    </a>                                    
                </li>
            </ul>
        </div>
    </div>
</div>