{% extends 'SMFrontBundle::layout.news.html.twig' %}
{% block body%}
<h1 class="title">Áo ngực</h1>
<div class="inner clearfix">
    <div class="product-detail-block clearfix">
        <div class="frame-4">
            <div class="inner">
                <img src="{{asset('web/images/upload/product-3.jpg')}}" data-zoom-image="{{asset('web/images/upload/product-3-large.jpg')}}" alt="" width="367" />
            </div>
            <!--<span>&nbsp;</span>-->
        </div>
        <div class="content">
            <div class="header">
                <h2>Jovial Sexy</h2>
                <p class="price">Giá: 195,000 VND</p>
            </div>
            <ul>
                <li><em>Mã SP:</em> JV00898</li>
                <li><em>Chất liệu:</em> 75% Nylon,20% Rayon, 5% spandex</li>
                <li>
                    <em>Chi tiết sản phẩm: </em><br>
                    Quần bikini, chất liệu micro phối ren kín đáo nhưng duyên dáng, bạn có thể kết hợp với áo ngực đồng bộ. Sản phẩm mang đến nét đẹp dịu dàng của cô gái thanh xuân
                </li>
                <li><em>Kích thước:</em>  Size M; Size L; Size 2L </li>
                <li>
                    <em>Màu sắc:</em><br>
                    <div class="lst-color">
                        <span class="color-1">&nbsp;</span>
                        <span class="color-2">&nbsp;</span>
                        <span class="color-3">&nbsp;</span>
                        <span class="color-4">&nbsp;</span>
                        <span class="color-5">&nbsp;</span>
                        <span class="color-6">&nbsp;</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="other-product">
        <h2 class="title">Sản phẩm cùng loại</h2>
        <div class="gallery-1">
            <a href="javascript:void(0);" title="Previous" class="ico-pre">Previous</a>
            <div class="inner">
                <ul>
                    <li>
                        <a data-url="product-ajax.html" href="#" title="Jovial Sexy">
                            <span class="frame-1">
                                <img src="{{asset('web/images/upload/product-4.jpg')}}" alt="" width="177" />
                                <span>&nbsp;</span>
                            </span>
                            <span class="name">Jovial Sexy</span>
                        </a>
                    </li>
                    <li>
                        <a data-url="product-ajax.html" href="#" title="Jovial Sexy">
                            <span class="frame-1">
                                <img src="{{asset('web/images/upload/product-4.jpg')}}" alt="" width="177" />
                                <span>&nbsp;</span>
                            </span>
                            <span class="name">Jovial Sexy</span>
                        </a>
                    </li>
                    <li>
                        <a data-url="product-ajax.html" href="#" title="Jovial Sexy">
                            <span class="frame-1">
                                <img src="{{asset('web/images/upload/product-4.jpg')}}" alt="" width="177" />
                                <span>&nbsp;</span>
                            </span>
                            <span class="name">Jovial Sexy</span>
                        </a>
                    </li>
                    <li>
                        <a data-url="product-ajax.html" href="#" title="Jovial Sexy">
                            <span class="frame-1">
                                <img src="{{asset('web/images/upload/product-4.jpg')}}" alt="" width="177" />
                                <span>&nbsp;</span>
                            </span>
                            <span class="name">Jovial Sexy</span>
                        </a>
                    </li>
                    <li>
                        <a data-url="product-ajax.html" href="#" title="Jovial Sexy">
                            <span class="frame-1">
                                <img src="{{asset('web/images/upload/product-4.jpg')}}" alt="" width="177" />
                                <span>&nbsp;</span>
                            </span>
                            <span class="name">Jovial Sexy</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0);" title="Next" class="ico-next">Next</a>
        </div>
    </div>
</div>
{% endblock %}