{% extends 'SMFrontBundle::layout.product.html.twig' %}
{% block body%}
<h1 class="title">Áo ngực</h1>
<div class="inner clearfix">
    <div class="product-block">
        <ul class="lst-product">
            <li class="first">
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-1.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-5.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-6.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li class="first">
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-7.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-8.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-9.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li class="first">
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-7.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-8.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-9.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li class="first">
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-7.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-8.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>
            <li>
                <a href="/product/detail/product-detail.html" title="Jovial Sexy">
                    <span class="frame-1">                                        
                        <img src="{{asset('web/images/upload/product-9.jpg')}}" alt="" width="167" />
                        <span>&nbsp;</span>
                    </span>
                    <span>Jovial Sexy</span>
                </a>

            </li>                            
        </ul>
        <ul class="paging">
            <li class="ico-pre"><a href="#" title="Previous">Previous</a></li>
            <li><a href="#" title="1">1</a></li>
            <li><a href="#" title="2">2</a></li>
            <li><a href="#" title="3">3</a></li>
            <li><a href="#" title="4">4</a></li>
            <li><a href="#" title="5">5</a></li>
            <li class="ico-next"><a href="#" title="Next">Next</a></li>
        </ul>
    </div>

    <!-- Block Right -->
    {% render 'SMFrontBundle:Default:right' %}
    <!-- Block right-->
</div>
<span class="line-bottom">&nbsp;</span>
{% endblock %}